
body 
{
    background: url('./assets/img/01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

//modal show 
.fade.show {
    opacity: 1;
    z-index: 0 !important;
  }
  .ngb-modal-backdrop.modal-backdrop.fade.show{
    z-index: 0;
  }